body{margin: 0;
color: rgb(231, 229, 229);
background-color: rgb(8, 8, 8);}

header{
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;

}
.logo{
    height: 100%;
   object-fit: cover;

}


.nav {display: flex;
list-style: none;
gap: 1rem;
font-size: larger;}

.nav li a {
    text-decoration: none;
    color: rgb(231, 229, 229);
}

.stones-wrapper{
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.stone-wrapper{
    width: 55rem;
    height: 400px;
    font-size: 18px;
    /* width: 300px;
    height: 500px; */
    margin: auto;
    background-color: rgba(12, 12, 12, 0.199);
    padding: 1rem;
    border-radius: 2rem;
    border: 2px solid rgb(231, 229, 229);
    gap: 2rem;
    margin-top: 2rem;
    text-decoration: none;
    color: rgb(219, 218, 218);
    transition: 0.3s;
    
}

.stone-wrapper:hover{
   scale: 1.03;
   
}

.stone-image{
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.stones-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 7rem;
    gap: 1rem;
    
}

.stones-form input {
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.747);
    color: black
}
.stones-form button{
    padding: 0.5rem;
    border: 2px;
    font-size: 18px;
    background-color: rgba(255, 217, 0, 0.466);
    border-radius: 2rem;
    cursor: pointer;
}

.stones-form button:hover{
    padding: 0.5rem;
    border: 2px;
    
    background-color: rgb(255, 217, 0);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3sec;
}
.response-message{
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    color: aliceblue;
    font-size: x-large;

}


.stone-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
}

.stone-page-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    padding-left: 1rem;
    border-radius: 2rem;

}


.stone-info{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    font-size: 20px;
}

.delete-button{
    padding: 1rem 2rem;
    background: brown;
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3sec;
}

.delete-button:hover{
    background-color: rgb(245, 5, 5);
}

.info-message{
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    font-size: x-large;

}



@media (max-width: 768px) {
   
    header{
        display: flex;
        justify-content: center;
    }
   
   
    .logo {
        display: none;
        
    }

    .stones-wrapper {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: flex-start;
        border: none;

    }


    .stones-container {
        width: 90%;
        margin: auto;
    }

    .stone-wrapper {
        font-size: 16px; 
        border: none;
        
    }

    .delete-button {
        padding: 0.5rem 1rem; 
        font-size: 14px; 

    }
}